RUST_LOG=DEBUG
TOY_API_ROOT=https://localhost:3030
TOY_API_CLIENT_USER=xxxxx
TOY_API_CLIENT_CREDENTIAL=xxxxxxxx-key.pem
TOY_API_CLIENT_KID=_xxxxxxx

TOY_SUPERVISOR_API_HOST=0.0.0.1
TOY_SUPERVISOR_API_PORT=3031
TOY_SUPERVISOR_API_TLS_CERT_PATH=xxxxx.pem
TOY_SUPERVISOR_API_TLS_KEY_PATH=xxxxx-key.pem
TOY_SUPERVISOR_API_TLS_PUB_PATH=xxxxx-pub.pem
