[package]
name = "toy-influxdb"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing = { version = "0.1" }
thiserror = "2"
serde = { version = "1.0", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
itoa = "1.0.4"
ryu = "1.0"

toy-map = { path = "../toy-map" }
toy-pack-json = { path = "../toy-pack-json" }
toy-h = { path = "../toy-h" }
toy-text-parser = { path = "../toy-text-parser" }

[dev-dependencies]
tokio = { version = "1.48", features = ["full"] }
tracing-subscriber = "0.3"
dotenv = "0.15.0"
toy-h = { path = "../toy-h", features = ["impl_reqwest"] }

[[example]]
name = "example"
path = "examples/example.rs"
