name: ci-app

on:
  push:
    paths:
      - '.github/workflows/**'
      - 'apps/**'

env:
  RUST_BACKTRACE: 1
  RUSTFLAGS: --cfg tokio_unstable

jobs:
  build:
    name: build toy app
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - run: rustup update nightly --no-self-update && rustup default nightly

      - name: test-toyapi
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ${{ github.workspace }}/apps/toyapi-d/Cargo.toml

      - name: test-actor
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ${{ github.workspace }}/apps/actor/Cargo.toml

      - name: test-toyctl
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ${{ github.workspace }}/apps/toyctl/Cargo.toml
