TOY_API_HOST=0.0.0.0
TOY_API_PORT=3030
TOY_API_TLS_CERT_PATH=/xxxx/xxxxx.pem
TOY_API_TLS_KEY_PATH=/xxxx/xxxxx-key.pem
TOY_API_TLS_PUB_PATH=/xxxx/xxxxx-pub.pem
RUST_LOG=DEBUG
TOY_STORE_ETCD_HOST=etcd-server

TOY_FIREBASE_PROJECT_ID="xxxxxx"
TOY_GOOGLE_API_CREDENTIALS=/xxxx/xxxxx.json
TOY_API_STORE_GLOGGING_VIEW_TASK_DETAIL="xxxxxxxxxxxxxxxxxxxxxxx"
TOY_API_STORE_GLOGGING_VIEW_TASK_LIST="xxxxxxxxxxxxxxxxxxxxxxx"
